.inbox-container {
  height: 26px;
  position: absolute;
  left: 40px;
  z-index: 5;
  margin-top: -26px;
  z-index: 1;
}

.inbox-icon1 {
  background: url("https://i.imgur.com/qbC4mCk.png") no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  width: 34px;
  height: 34px;
  display: inline-block;
  cursor: pointer;
  z-index: -2147483648;
}

.inbox-icon2 {
  background: url("https://i.imgur.com/L8Cb11Z.png") no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  width: 34px;
  height: 34px;
  display: inline-block;
  cursor: pointer;
  z-index: -2147483648;
}

.button {
  display: inline-block;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
  text-decoration: none;
}

.button:hover {
  background-color: #F8F8F8;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  
  border: 1px solid #C6C6C6;
  color: #333;
  
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.button.grayish {
  background-color: #3D9400;
  background-image: -webkit-linear-gradient(top,#7c7461,#615b4c);
  background-image: -moz-linear-gradient(top,#7c7461,#615b4c);
  background-image: -ms-linear-gradient(top,#7c7461,#615b4c);
  background-image: -o-linear-gradient(top,#7c7461,#615b4c);
  background-image: linear-gradient(top,#7c7461,#615b4c);
  
  border: 1px solid #504b3e;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.grayish:hover {
  background-color: #368200;
  background-image: -webkit-linear-gradient(top,#7c7461,#504b3e);
  background-image: -moz-linear-gradient(top,#7c7461,#504b3e);
  background-image: -ms-linear-gradient(top,#7c7461,#504b3e);
  background-image: -o-linear-gradient(top,#7c7461,#504b3e);
  background-image: linear-gradient(top,#7c7461,#504b3e);
  
  border: 1px solid #474337;
}

.button.default:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
  color: black;
}
.button.grayish:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.3);
}
