/* Main Styles */
html {
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 3px;
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(255, 255, 255);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 3px;
}

body {
  min-width: 357px;
  overflow-x: hidden;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size: 26px;
  font-weight: 100;
  line-height: lighter;
  font-family: sans-serif;
  color: #484848;
  text-align: center;
}

/* Auth Button */
#customBtn {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 165px;
  border-radius: 5px;
  white-space: nowrap;
}
#customBtn:hover {
  background: #e74b37;
  cursor: hand;
}
span.label {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 80%;
  color: #787878;
}
span.icon {
  background: url('https://developers.google.com/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-right: #bb3f30 1px solid;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto',arial,sans-serif;
}

.select-style {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("../images/icon.png") no-repeat 90% 50%;
  position: relative;
}

.select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

.select-style:after {
  top: 55%;
  right: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

textarea {
  width: 77%;
  float: left;
  margin: 0px 20px 10px 0;
}
button {
  padding: 5px 10px;
}