/* Main Styles */
html {
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 3px;
  background-color: #F3F3F4;
  border: none;
}

body {
  min-width: 350px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  color: #676a6c;
  height: 100%;
}

h2{
  font-size: 22px;
  font-weight: 100;
  line-height: lighter;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: rgb(240, 240, 240);
  padding: 15px 0;
}

.side-area {
  width: 35%;
  color: #A7B1C2;
  float: left;
}

#header {
  background: url('../images/header-profile.png');
  padding: 15px;
  height: 50px;
}

#streams-container {
  background: #2F4050;
}

ul#streams-list {
  margin: 0 !important;
  height: 118px;
  overflow-y: auto;
}

ul li {
  padding: 9px 15px;
  cursor: pointer;
}

ul li:hover {
  background: #293846;
}

.selected-list {
  border-left: 5px solid #1AB394;
  background: #364D63;
}

#logo {
  border-radius: 50%;
  background: #bbb;
  height: 48px;
  width: 48px;
}

#main-area {
  width: 56%;
  float: left;
  padding: 15px;
}

/*====== select box, button and text area styles =========*/

.select-style {
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.select-style select {
  padding: 5px 8px 0;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

.select-style:after {
  top: 55%;
  right: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

textarea {
  width: 91%;
  height: 70px;
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 8px;
}

textarea, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

input {
  padding: 4px 8px;
  width: 90%;
  border: 1px solid #ddd;
}

button {
  padding: 5px 10px;
  width: 100%;
}