/* Main Styles */
html {
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 3px;
  background-color: #F3F3F4;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 3px;
}

body {
  min-width: 357px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  color: #676a6c;
}

h2{
  font-size: 22px;
  font-weight: 100;
  line-height: lighter;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: rgb(240, 240, 240);
  padding: 15px 0;
}

#header {
  border-bottom: 1px solid rgb(223, 223, 223);
}

#lower-content {
  border-top: 4px solid #E7EAEC;
  background: #F3F3F4;
  padding: 1.25em 1em;
  clear: both;
}



/*====== select box, button and text area styles =========*/

.select-style {
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("../images/icon.png") no-repeat 90% 50%;
  position: relative;
}

.select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

.select-style:after {
  top: 55%;
  right: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

#text-left {
  width: 65%;
  float: left;
}

textarea {
  width: 95%;
  height: 80px;
}

#options-right {
  width: 30%;
  float: left;
}
button {
  padding: 5px 10px;
}